<div class="row">
    <div class="col-md-4">
        <h3>Selleccione archivos</h3>
        <div appNgDropfiles [archivos]="archivos" (mouseOver)="overDrop = $event" [ngClass]="{'file-over': overDrop}" class="well drop-zone">
            <h4>Suelta aqui los archivos</h4>
            <img src="assets/img/sinFoto.png" alt="sin foto">
        </div>
    </div>
    <div class="col-md-8">
        <h4>Cargar archivos</h4>
        <button (click)="loadImages()" [disabled]="archivos.length === 0" type="button" name="loading" id="loading" class="btn btn-success">Cargar en Firebase</button>
        <button type="button" name="clean" id="clean" class="btn btn-danger">Limpiar</button>

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Nombre</th>
                    <th>Size</th>
                    <th>Progress</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let archivo of archivos">
                    <td> {{ archivo.nombreArchivo}}</td>
                    <td>{{archivo.archivo.size / 1024 /1024 | number: '.2-2'}} MB</td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" [ngStyle]="{'width': archivo.progress + '%' }"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td scope="row"></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>