<div class="fadeIn animated fast fondo-login">
  <form class="form-signin" (ngSubmit)="onSubmit()" ngNativeValidate>
    <div class="container">
      <img class="col-12" src="/assets/brand/codeSolutions-beta.png" alt="">
    </div>
    <h1 class="h3 mb-3 font-weight-normal text-center">Please Log-in (Beta)</h1>

    <div class="form-group">
      <label for="email">Email</label>
      <div class="input-group mb-3 mt-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="email">
            <fa-icon [icon]="['fa', 'user']"></fa-icon>
          </span>
        </div>
        <input [(ngModel)]="user.email" name="email" type="email" required class="form-control col-sm-6 col-lg-12" id="email" placeholder="enter your email">
      </div>
    </div>

    <div class="form-group mb-4">
      <label for="password">Password</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="password">
            <fa-icon [icon]="['fa', 'lock']"></fa-icon>
          </span>
        </div>
        <input [(ngModel)]="user.password" name="password" type="password" required class="form-control col-sm-6 col-lg-12" id="password"
          placeholder="enter a password">
      </div>
    </div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>

    <div class="col-sm-6 col-lg-12 mb-5 mb-5">
      <button type="submit" class="btn btn-lg btn-success btn-block">Submit</button>
      <button [routerLink]="['../']" class="btn btn-lg btn-danger btn-block">Cancel</button>
    </div>

    <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
    <p>
      <span>Log-in with Google</span>
      <span>
        <fa-icon [icon]="['fab', 'google']" (click)="loginPopUp()" aria-hidden="true"></fa-icon>
      </span>
    </p>
    <p>
      <span>Don't have an account?</span>
      <span>
        <!-- Button trigger modal -->
        <a href="#" class="text-primary" data-toggle="modal" data-target=".bd-singup-modal-lg">
          Sign up!
        </a>
        <a [routerLink]="[{ outlets: { popup: ['compose'] } }]">Contact</a>

      </span>
    </p>
  </form>
</div>
<!-- Modal -->
<div class="modal fade bd-singup-modal-lg" id="singUpModal" tabindex="-1" role="dialog" aria-labelledby="singUpModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title lead" id="singUpModalLabel">Register now for
          <span class="text-success">FREE</span>
        </h5>
        <button #btnClose type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-6">
            <div class="well">
              For you can access to App, You need to register. You can register with Google or with Email/Password
              <form ngNativeValidate>
                <div class="form-group">
                  <div class="input-group mb-3 mt-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">
                        <fa-icon [icon]="['fa', 'user']"></fa-icon>
                      </span>
                    </div>
                    <input [(ngModel)]="userModal.email" name="email" type="email" required class="form-control" id="uEmail" placeholder="enter your email">
                  </div>
                </div>

                <div class="form-group">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">
                        <fa-icon [icon]="['fa', 'lock']"></fa-icon>
                      </span>
                    </div>
                    <input [(ngModel)]="userModal.password" name="password" type="password" required class="form-control" id="uPassword" placeholder="enter a password">
                  </div>
                </div>

              </form>
            </div>
          </div>
          <div class="col-sm-6">
            <ul class="list-unstyled" style="line-height: 2">
              <li>
                <fa-icon [icon]="['fa', 'check']" class="text-success"></fa-icon> See all your orders</li>
              <li>
                <fa-icon [icon]="['fa', 'check']" class="text-success"></fa-icon> Fast re-order</li>
              <li>
                <fa-icon [icon]="['fa', 'check']" class="text-success"></fa-icon> Save your favorites</li>
              <li>
                <fa-icon [icon]="['fa', 'check']" class="text-success"></fa-icon> Fast checkout</li>
              <li>
                <fa-icon [icon]="['fa', 'check']" class="text-success"></fa-icon> Get a gift
                <small>(only new customers)</small>
              </li>
              <li>
                <a href="#">
                  <u>Read more</u>
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-success" (click)="singUp(userModal)">Register</button>
        </div>
      </div>
    </div>
  </div>
  <router-outlet name="popup"></router-outlet>
