<section class="container row">
  <h1 class="text-truncate">{{ heroe?.nombre }}
    <small *ngIf="heroe?.aparicion">({{heroe?.aparicion | date:'yyyy'}})</small>
  </h1>
</section>
<hr>
<br>
<div class="row fadeIn animated fast">
  <div class="col-md-4">
    <ng-container *ngIf="heroe?.imgURL == undefined; else heroImg">
      <img class="card-img-top ajuste" src="assets/img/sinFoto.png" alt="Sin imagen">
    </ng-container>
    <ng-template #heroImg>
      <img *ngIf="heroe.imgURL" [src]="(heroe?.imgURL | async) || 'assets/img/sinFoto.png'" [alt]="heroe?.nombre" class="img-fluid ajuste">
    </ng-template>
    <br>
    <br>
  </div>
  <div class="col-md-8">
    <h3>Biografía</h3>
    <p>
      {{heroe?.bio}}
    </p>
    <div>
      <img *ngIf="heroe?.editorial === 'DC'" src="assets/brand/DC.png" [alt]="heroe?.editorial" class="img-fluid editorial">
      <img *ngIf="heroe?.editorial === 'Marvel'" src="assets/brand/marvel.jpg" [alt]="heroe?.editorial" class="img-fluid editorial">
    </div>
  </div>
</div>
<br class="d-md-none">
<br class="d-md-none">
<button [routerLink]="['../../../heroes']" class="btn btn-outline-danger btn-block col-sm-12 col-md-8 float-right">Volver</button>
