<h1>Heroe Buscado:
  <small>{{buscado | uppercase}}</small>
</h1>
<hr>

<div class="row animated fadeIn fast" *ngIf="heroes.length == 0 && !loading">
  <div class="col-md-12">
    <div class="alert alert-info" role="alert">
      No se ha encontrado ningun resultado con: {{ buscado | uppercase }}
    </div>
  </div>
</div>

<div class="card-columns">
  <div class="card fadeIn animated fast" *ngFor="let heroe of heroes;">
    <ng-container *ngIf="heroes.img == undefined || heroes.img === ''; else heroImg">
      <img class="card-img-top" src="../../../../assets/img/sinFoto.png" alt="Sin imagen">
    </ng-container>
    <ng-template #heroImg>
      <img class="card-img-top" [src]="heroes.img" [alt]="heroes.nombre">
    </ng-template>
    <div class="card-body">
      <h5 class="card-title">{{ heroe.nombre }}</h5>
      <p class="card-text">{{ heroe.bio }}</p>
      <p class="card-text">
        <small class="text-muted">{{ heroe.aparicion }}</small>
      </p>
      <button type="button" class="btn btn-outline-primary btn-block" [routerLink]="['../../heroe/show', heroe.indice]">
        Ver mas...
      </button>
    </div>
  </div>
</div>

<div class="alert alert-info animated fadeIn fast" role="alert" *ngIf="loading">
<strong>
  <i class="fa fa-spinner fa-spin" style="font-size:32px"></i> Cargando...</strong>Por favor, espere.
</div>
