<div class="container mt-5">
  <div class="row">
    <div class="col-md-3">
      <label for="artista">Buscar Artista</label>
      <input type="text" 
             placeholder="Escribe aquí artista..."
             class="form-control"
             [(ngModel)]="artista"
             (keyup)="buscarArtista()">
    </div>
    <div class="col-md-9" *ngIf="artista.length > 1">
      <h1 class="text-capitalize">{{ artista }}</h1>
      <hr>
      <div class="row">
        <div  *ngFor="let artista of _spotifyService.artistas"
              class="col-md-3 text-center puntero"
              [routerLink]="['/artist', artista.id]">
          <img [src]="artista.images | withOutPicture" class="img-thumbnail">
          <p>
            {{ artista.name }}
          </p>
        </div>
      </div>

      <!-- <ul>
        <li *ngFor="let artista of _spotifyService.artistas">
          {{artista.name}}
        </li>
      </ul> -->
    </div>
  </div>
</div>