<section class="container row">
  <h1 class="text-truncate">Heroe:
    <small class="text-uppercase h2 text-truncate">{{ heroe.nombre }}</small>
  </h1>
</section>
<hr>
<br>
<form class="fadeIn fast" (ngSubmit)="onSubmit()" #formAlta="ngForm" novalidate>
  <div class="row">
    <div class="form-group col-12 col-sm-12 col-md-3">
      <!-- <div appNgDropfiles [archivos]="archivos" (mouseOver)="overDrop = $event" [ngClass]="{'file-over': overDrop}" class="well drop-zone"> -->
        <img src="assets/img/sinFoto.png" alt="sin foto">
      <!-- </div> -->
      <!-- <tr>
        <td [ngClass]="{ 'text-green': archivo.progreso >=100 }">
          {{ archivo.nombreImagen}}
        </td>
      </tr> -->
      <tr>
        <input type="file" name="button" id="button" (change)="selectFile($event)" placeholder="Image">
      </tr>
    </div>

  <div class="form-group col-12 col-sm-12 col-md-9">
    <div class="container row form-group mt-2">
      <label for="nombreInput">Nombre</label>
      <input class="form-control" id="nombreInput" name="nombre" type="text" aria-describedby="nombreHelp" [(ngModel)]="heroe.nombre"
        placeholder="Introduce nombre">
      <small class="form-text text-muted" id="nombreHelp">Introduce el nombre del super-héroe o anti-héroe.</small>
    </div>
    <div class="container row form-group">
      <label for="inputBiografia">Biografía</label>
      <textarea class="form-control" id="inputBiografia" name="bio" aria-describedby="biografiaHelp" [(ngModel)]="heroe.bio" placeholder="Enter biografia"
        rows="5"></textarea>
      <small class="form-text text-muted" id="biografiaHelp">Introduce una pequeña biografía.</small>
    </div>

    <div class="row">
      <div class="form-group col-6">
        <label class="col-form-label" for="aparicion">Fecha</label>
        <div class="">
          <input class="form-control text-center" id="inputAparicion" name="aparicion" type="date" [(ngModel)]="heroe.aparicion" placeholder="Aparición">
        </div>
        <small class="form-text text-muted">Introduce la fecha de primera aparición</small>
      </div>

      <div class="form-group col-6">
        <label class="col-form-label" for="editorial">Editorial</label>
        <select class="form-control" name="editorial" [(ngModel)]="heroe.editorial">
          <option value="">Pertenece a...</option>
          <option *ngFor="let editorial of editoriales" [ngValue]="editorial?.value">{{ editorial?.value }}</option>
        </select>
        <small class="form-text text-muted">Introduce la Editorial a la que pertenece</small>
      </div>
    </div>
  </div>
  </div>

  <br>
  <div class="container form-group col-12 col-sm-12 col-md-9 desktop">
    <button class="btn btn-success btn-block col-12 col-sm-5 float-left" type="submit">Submit</button>
    <button class="btn btn-danger btn-block col-12 col-sm-5 float-right ajuste" type="button" [routerLink]="['../../heroes']">Volver</button>
  </div>

</form>
