$breakpoint-tablet: 576px;
$breakpoint-desktop: 767px;

img {
  margin-top: 15%;
}

@media (min-width: $breakpoint-tablet) {
  .ajuste {
    margin-top: 0px !important;
  }
}

@media (min-width: $breakpoint-desktop) {
  .desktop {
    margin-left: 25% !important;
  }
}

