body {
  background-color: black;
  color: white !important;
}

hr {
  border-color: white;
}

.img-circular {
  border-radius: 100%;
}

.jumbotron-spoty {
  background-color: #171717;
}

.puntero {
  cursor: pointer;
}

.carousel-item {
  width: 100%;
  height: 500px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media (max-width: 600px) {
  .carousel-item {
    height: 280px;
  }
}

.img-circle {
  border-radius: 100%;
}
