<div class="row">
  <div class="col-md-4">
    <h1>Sign up</h1>
    <hr><br>
    <div *ngIf="errorMessage">
      <div class="alert alert-danger" role="alert">
        {{errorMessage}}
      </div>
    </div>
    <form (ngSubmit)="onSubmit()" ngNativeValidate>
      <div class="form-group">
        <label for="email">Email</label>
        <input class="form-control" id="email" name="email" type="email" [(ngModel)]="user.email" required placeholder="enter your email">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control" id="password" name="password" type="password" [(ngModel)]="user.password" required placeholder="enter a password">
      </div>
      <button class="btn btn-primary" type="submit">Submit</button>
      <a class="btn btn-success" [routerLink]="['/']">Cancel</a>
    </form>
    <p>
      <span>Already have an account?&nbsp;</span>
      <a [routerLink]="['../log-in']">Log in!</a>
    </p>
  </div>
</div>
