<div *ngIf="option">
  <router-outlet>
    <app-loading></app-loading>
  </router-outlet>
</div>

<!-- Botonera Opciones -->
<div class="container main-container" *ngIf="!option">
  <button class="btn btn-outline-primary btn-block" (click)="hiddeOptions()" [routerLink]="['avenger']">Avenger</button>
  <button class="btn btn-outline-primary btn-block" (click)="hiddeOptions()" [routerLink]="['spoty']">Spoty</button>
  <button class="btn btn-outline-primary btn-block" (click)="hiddeOptions()" [routerLink]="['miscelaneos']">Miscelaneos</button>
  <button class="btn btn-outline-primary btn-block" (click)="hiddeOptions()" [routerLink]="['formulario']">Formularios</button>
  <button class="btn btn-outline-primary btn-block" (click)="hiddeOptions()" [routerLink]="['ngrx']">Ngrx-Auth</button>
  <button class="btn btn-outline-primary btn-block" (click)="hiddeOptions()" [routerLink]="['initial']" disabled>Console</button>
</div>
