<div *ngIf="option">
  <router-outlet></router-outlet>
</div>

<!-- Botonera Opciones -->
<div class="container main-container" *ngIf="!option">
  <button class="btn btn-outline-primary btn-block" (click)="hiddeOptions()" [routerLink]="['avenger']">Avenger</button>
  <button class="btn btn-outline-primary btn-block" (click)="hiddeOptions()" [routerLink]="['spoty']">Spoty</button>
  <button class="btn btn-outline-primary btn-block" (click)="hiddeOptions()" [routerLink]="['auth']" disabled>Nebular</button>
  <button class="btn btn-outline-primary btn-block" (click)="hiddeOptions()" [routerLink]="['miscelaneos']">Miscelaneos</button>
  <button class="btn btn-outline-primary btn-block" (click)="hiddeOptions()" [routerLink]="['auth0']">Oauth</button>
  <button class="btn btn-outline-primary btn-block" (click)="hiddeOptions()" [routerLink]="['formulario']">Formularios</button>
  <button class="btn btn-outline-primary btn-block" (click)="hiddeOptions()" [routerLink]="['openID']" disabled>OpenID</button>
  <button class="btn btn-outline-primary btn-block" (click)="hiddeOptions()" [routerLink]="['ngrx']">Ngrx-Auth</button>
  <button class="btn btn-outline-primary btn-block" (click)="hiddeOptions()" [routerLink]="['initial']" disabled>Console</button>
  <button class="btn btn-outline-primary btn-block" (click)="hiddeOptions()" [routerLink]="['udemy']" disabled>Materialize + RxJS</button>
  <button class="btn btn-outline-primary btn-block" (click)="hiddeOptions()" [routerLink]="['layout']" disabled>Maquetacion</button>
</div>
