<h1>Heroes
  <small>Marvel&DC</small>
</h1>
<hr>

<div class="text-center">
  <div class="btn-group btn-group-toggle" data-toggle="buttons">
    <button type="button" class="btn btn-primary" routerLinkActive="active" [routerLink]="['../heroe/addHeroe']">Agregar</button>
    <button type="button" class="btn btn-primary" routerLinkActive="active" [routerLink]="['.']">Leer</button>
  </div>
</div>

<hr>
<div class="card-columns">
  <div class="card fadeIn animated fast" *ngFor="let key of heroes | keys">
    <ng-container *ngIf="heroes[key].img == undefined || heroes[key].img === ''; else heroImg">
      <img class="card-img-top" src="../../../../assets/img/sinFoto.png" alt="Sin imagen">
    </ng-container>
    <ng-template #heroImg>
      <img class="card-img-top" [src]="heroes[key].img" [alt]="heroes[key].nombre">
    </ng-template>
    <div class="card-body">
      <h5 class="card-title font-weight-bold">{{ heroes[key].nombre }}</h5>
      <p class="card-text">{{ heroes[key].bio }}</p>
      <p class="card-text">
        <small class="text-muted">{{ heroes[key].aparicion }}</small>
      </p>
      <p>{{heroes[key].id}}</p>
      <button type="button" class="btn btn-outline-primary btn-block" [routerLink]="['../heroe/show', key]">
        Ver mas...
      </button>
      <button type="button" name="editar" id="editar" class="btn btn-outline-warning btn-block" [routerLink]="['../heroe/edit', key]">Editar</button>
      <button type="button" name="editar" id="editar" class="btn btn-outline-danger btn-block" [routerLink]="['../heroe/remove', key]">Borrar</button>
      <!-- Tambien se puede usar como función click, quitando el routerLink y añadiendo esto:
        (click)="verHeroe(indice)"
        Ver ĺógica controlador -->
    </div>
  </div>
</div>
